{% extends 'base.html.twig' %} {% block body %}

  {% include 'home/menu.html.twig' %}
  <link rel="stylesheet" href="{{ asset('css/contactStyle.css') }}" />
  <div class="row _contact_div"> 
    <div class="panel-group" id="accordion">
      <div class="panel panel-default _par_courriel">
        <div class="panel-heading">
          <h3>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <span data-toggle="tooltip" title="cliquez pour me cacher ou m'afficher">
                <strong>  Par courriel</strong>
              </span>
          </a>
          </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <form method="post">
            <div class="panel-body" id="send-email">
              <div class="col-sm-6">
                <label for="inputName"> Nom <span> *</span></label>
                <input type="text"  value="" name="nom" id="inputName" class="form-control"  required autofocus>
                <label for="inputEmail">E-mail <span> *</span></label>
                <input type="email"  value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputWebsite">Website</label>
                <input type="text"  name="website" id="inputWebsite" class="form-control" > 
              </div>
              <div class="col-sm-6">
                <label for="message">Message<span> *</span></label>
                <textarea id="message" name="message" rows="9" > </textarea>
              </div>
            </div>
            <div class="panel-footer">
              <button class="btn btn-connexion" type="submit">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default _via_un_conseiller_par_phone">
        <div class="panel-heading">
          <h3>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <span data-toggle="tooltip" title="cliquez pour me cacher ou m'afficher">
                <strong>  Via un conseiller au téléphone</strong>
              </span>
            </a>
          </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            Besoin d'un conseil ?

            Simplicité et sécurité, commandez n'importe quel produit du site en 2 étapes :

            • Composez le 3979 (Du lundi au vendredi de 9h à 19h. Week-ends et Jours Fériés de 9h à 18h.)

            • Passez commande avec l‘un de nos conseillers
          </div>
          <div class="panel-footer">Panel Footer</div>
        </div>
      </div>
      <div class="panel panel-default _par_courrier ">
        <div class="panel-heading">
          <h3>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              <span data-toggle="tooltip" title="cliquez pour me cacher ou m'afficher">
                <strong>  Via nos réseaux sociaux</strong> 
              </span>
            </a>
          </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body"></div>
          <div class="panel-footer">Panel Footer</div>
        </div>
      </div>
      <div class="panel panel-default _via_reseau_sociaux">
        <div class="panel-heading">
          <h3>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              <span data-toggle="tooltip" title="cliquez pour me cacher ou m'afficher">
                <strong>  Via nos réseaux sociaux</strong> 
              </span>
            </a>
          </h3>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body"></div>
          <div class="panel-footer">Panel Footer</div>
        </div>
      </div>
    </div> 
  </div>
   
{% endblock %}