
<div class="row" >
    <div class="row" id="foot">
        <div class="col-sm" id="footer_first">
            <h3>LIENS RAPIDES</h3>
            <a class="btn" href="#">〉Home </a><br>
            <a class="btn" href="#">〉A propos de nous    </a><br>
            <a class="btn" href="#">〉Nous contact </a><br>
            <a class="btn" href="#">〉Termes & Conditions </a><br>
            <a class="btn" href="#">〉Politique de confidentialité </a><br>
        </div> 
        <div class="col-sm" id="footer_snd">
            <h3>NOS SERVICES</h3>
            <a class="btn" href="#">〉Alimentation </a><br>
            <a class="btn" href="#">〉Hygiène && Beauté    </a><br>
            <a class="btn" href="#">〉Maison</a><br>
        
        </div>
         <div class="col-sm" id="footer_fird">
            <h3>NOUS CONTACTER</h3>
            <p>Get all the latest information on Triedge Services, Events, Jobs
                and Fairs. Sign up for our newsletter today.</p>
        </div>
        
    </div>
    <div class="copyright"> <p>Copyright 2021 &nbsp; | &nbsp; HT && OS.</p></div>
    
    
</div>

<style>

#foot{
    background-color: rgb(128, 128, 128);
    width:100%;
    /* top | right | bottom | left */
}
#footer_first{
    margin-left:5%;
}
.copyright{
    background-color: black;
    width:100%;
}
#footer_first a, #footer_snd a{
    text-align: center;
    color:#e7e7e7;
    font-weight: bold;
    font-size: 15px;

}

#footer_first a:hover, #footer_snd a:hover{

    background-color: rgb(243, 154, 38);
}
.copyright p{
    
    text-align: center;
    color:white;
    padding:0.5%;
    font-weight: bold;
    font-size: 15px;

}
</style>
