{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />

<div class="card_element row">
    <div class="row">
        <div class="col-md-4">

            {% include 'home/index4.html.twig' %}
        </div>
        <div class="col-md-8">
            <ul class="col-sm-10">
            <li>
                <div class="card">
                    <img src="{{ asset("images/img_avatar2.png") }}" alt="Avatar" style="width:100%" />

                    <div class="">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="{{ asset("images/img_avatar2.png") }}" alt="Avatar" style="width:100%" />

                    <div class="">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="{{ asset("images/img_avatar2.png") }}" alt="Avatar" style="width:100%" />

                    <div class="">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>
            </li>
            
        </ul>
        </div>
        
    </div>
</div>

{% endblock %}