<form method="POST">
    <input type="text" name="name">
    <input type="text" name="description">
    <input type="number" name="price">
    <input type="number" name="stock">
    <input type="text" name="image">
    <select name="category" required>
        <option>--Please choose an option--</option>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Enrégistrer</button>
</form>