{% block body %}   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/loginStyle.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/createClientStyle.css') }}" />
   
    

    <div class="loginDiv" style ="margin-top: 150px;">
        <div  class="text-center _logo shadow p-4 ">
            <strong>
                <a href="{{ path("admin") }}" > 
                    <span style="color: #ff4d00;">O</span><span style="color: #ff6f00;">n</span><span style="color: #f27d00;">l</span><span style="color: #fa6e02;">i</span><span style="color: #ff8400;">n</span><span style="color: #f5a00c;">e</span><span>S</span><span>h</span><span>o</span><span>p</span>
                </a>
            </strong>
        </div>
         {{ form(categoryForm) }}
    </div>
   
       
{% endblock %}


