<div style="width: 100%; background-color: white; margin: 50px 0; border-radius: 8px;" 
    class="text-center shadow-sm">
    <div class="row">
        <div style="text-align: left; padding-left: 40px;" class="col-sm-6" style="padding-left: 40px;">
            <div style="cursor: pointer;" class="bars-nav"><i class="fas fa-bars"></i></div>
            <h4 class="current-title">Dashboard</h4>
        </div>
        <div class="col-sm-6 text-right">
            <div class="col-ms-6 row">{# 
                <div class="col-sm-4" style="width: auto;"><img src="{{ asset("images/bell.png") }}"></div>
                <div class="col-sm-4" style="width: auto;"><img src="{{ asset("images/messenger.png") }}"></div> #}
            </div>
        </div>
    </div>
</div>