{% extends 'base-admin.html.twig' %}

{% block title %}Gestion de l'administration{% endblock %}

{% block body %}

<div class="row">
    {% include 'admin/sidebar.html.twig' %}
    <div style="padding: 0 50px;" class="admin-content col-sm-9">
    {% include 'admin/header.html.twig' %}
        <div style="width: 100%; background-color: white; padding: 40px;" class="admin_content shadow-sm">
            <table class="table_produit">
                <tr>
                    <td>Description</td>
                    <td>Prix</td>
                    <td>Stock</td>
                    <td colspan="2">Actions</td>
                </tr>
                {% for product in products %}
                <tr>
                    <td> {{ product.description }} </td>
                    <td> {{ product.price }} </td>
                    <td> {{ product.stock }} </td>
                    <td>Mettre à jour</td>
                    <td>Supprimer</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
