{% extends 'base-admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="row">
    {% include 'admin/sidebar.html.twig' %}
    <div style="padding: 0 50px;" class="admin-content col-sm-9">
    {% include 'admin/header.html.twig' %}
        <div style="width: 100%; background-color: white; padding: 40px;" class="admin_content shadow">
            <div class="row">
                <div class="col-sm-3">
                    <div style="background-color: rgb(0, 38, 255);" class="_chiffres">
                        <h4>Chiffre d'affaires</h4>
                        <span style="font-size: 25px;">€ 18 546 M</span> <br>
                        <span>saved 25%</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="background-color: rgb(0, 174, 255);" class="_chiffres">
                        <h4>Chiffre d'affaires</h4>
                        <span style="font-size: 25px;">€ 18 546 M</span> <br>
                        <span>saved 25%</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="background-color: rgb(234, 24, 241);" class="_chiffres">
                        <h4>Chiffre d'affaires</h4>
                        <span style="font-size: 25px;">€ 18 546 M</span> <br>
                        <span>saved 25%</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="background-color: rgb(22, 214, 54);" class="_chiffres">
                        <h4>Chiffre d'affaires</h4>
                        <span style="font-size: 25px;">€ 18 546 M</span> <br>
                        <span>saved 25%</span>
                    </div>
                </div>
            </div>

            <div>
                <div class="infogram-embed" data-id="dbff7509-84bd-4f31-a2aa-d7b3fdfb2eec" data-type="interactive" data-title="Dashboard"></div><script>!function(e,i,n,s){var t="InfogramEmbeds",d=e.getElementsByTagName("script")[0];if(window[t]&&window[t].initialized)window[t].process&&window[t].process();else if(!e.getElementById(n)){var o=e.createElement("script");o.async=1,o.id=n,o.src="https://e.infogram.com/js/dist/embed-loader-min.js",d.parentNode.insertBefore(o,d)}}(document,0,"infogram-async");</script><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"><br></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
