<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ asset('css/login_style.css') }}" />
</head>

<body>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">Choose Product <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" data-toggle="modal" data-target="#modal1">Open modal 1</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modal2">Open modal 2</a></li>
        </ul>
    </div>

    <!--Modal code -->
    <div class="modal fade text-center" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Connection</h2>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column text-center">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email1" placeholder="votre adresse email ...">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password1" placeholder="votre mot de passe...">
                            </div>
                            <button type="button" class="btn btn-info btn-block btn-round">connection</button>
                        </form>

                        <div class="text-center text-muted delimiter">connectez-vous avec vos réseaux sociaux</div>
                        <div class="d-flex justify-content-center social-buttons">
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                                title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                                title="Facebook">
                                <i class="fab fa-facebook"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                                title="Linkedin">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="signup-section">Pas de compte? <a href="#a" class="text-info"> Inscrivez-vous</a>.</div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal fade text-center" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal1-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Inscription</h2>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column text-center">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email1" placeholder="Your email address...">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password1" placeholder="Your password...">
                            </div>
                            <button type="button" class="btn btn-info btn-block btn-round">inscription</button>
                        </form>

                        <div class="text-center text-muted delimiter">créer un compte à partir de vos réseaux sociaux</div>
                        <div class="d-flex justify-content-center social-buttons">
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                                title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                                title="Facebook">
                                <i class="fas fa-facebook-f"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                                title="Linkedin">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div >vous aves un compte? <a href="#a" class="text-info"> connectez-vous</a>.</div>
                </div>
                
            </div>
        </div>
    </div>

</body>

</html>