{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

{% include 'flashes.html.twig' %}

{{ form(emailForm) }}
<a href="{{ path("app_login") }}">connexion</a>

{% endblock %}