<div class="sidebar col-sm-3">
    <div style="text-align: right; cursor: pointer; display: none;" class="sidebar-close"><i class="fa fa-window-close" aria-hidden="true"></i></div>
    {# <div style="width: 68%; background-color: white; padding: 11% 13%; margin: 50px 12%; border-radius: 15px;" 
        class="text-center shadow-sm bg-white"><h2>Admin</h2>
    </div> #}
    <div class="menu">
        
    </div>
</div>