<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="" href="#"><img class="logo_desktop" src="{{ asset("images/logo_normal.jpg") }}"
                alt="Symfony!" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <form class="d-flex">
                        <input class="form-control search_input"
                            style="border: solid rgb(243, 154, 38);margin-top:1%; margin-right:-10px; height:50px;width:700px"
                            type="search" placeholder="Chercher" aria-label="Search">
                        <button class=" search" style="border: solid rgb(243, 154, 38); "
                            type="submit">Chercher</button>
                    </form>
                </li>

            </ul>

            <a class=" pull-right cart" aria-current="page" href="#">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <br> 0 items - 0.00 €
                <br> My Cart
            </a>
            <a href="#" class="btn user pull-right">
                <span class="glyphicon glyphicon-user"></span>
                <br>User
            </a>
        </div>
    </div>
</nav>