<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid  navbar_second links ">

    <div class="col-sm-10">
        <div class="row">

            <a class="col-sm-2" href="#"></a>
            <a class="col-sm-2" href="#">Alimentation</a>

            <a class="col-sm-2" href="#">Beauté & hygiène</a>

            <a class="col-sm-2" href="#">Maison</a>

            <a class="col-sm-2" href="#">Forum</a>
        </div>
    </div>
    <div class="col-sm-2 links_com" style="width: 10%;">
        <div class="row">

            <a href="#" class="fa fa-facebook col-sm"></a>
            <a href="#" class="fa fa-twitter col-sm"></a>
            <a href="#" class="fa fa-google col-sm"></a>
            <a href="#" class="fa fa-linkedin col-sm "></a>
        </div>
    </div>

</div>