._contact_div input {
  height: 50px;
}

._contact_div{
   padding: 10%;
    margin-top: 20px;
  }

._contact_div h3, ._contact_div .panel-footer, ._contact_div h4{
    text-align: center;
  }

._contact_div a:hover{
  text-decoration: none;
}

._contact_div a{
  color: black;
}

._contact_div .panel-heading{
  padding: 10px;
}

.btn-connexion{
  background-color: rgb(243, 154, 38);
  width: 20%;
  font-size: 18px;
  
}

#send-email span{
  color: red;
}



._contact_div textarea {
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

._contact_div label {
    display: block;
    margin-bottom: 10px;
    left:0 ;
}
/*=======================Contacter par phone============================*/
#phone-id{
  padding:20px;
  text-align: center;/* vertical | horizontal */
  margin: 0 20%;

}
#phone-id p{
  font-size: 18px;
}
/*=======================Via nos réseaux sociaux============================*/
._via_reseau_sociaux .img-network{
  width:50px;
  height:50px;
}
._via_reseau_sociaux .panel-body{
  text-align: center;
}
._via_reseau_sociaux .panel-body strong{
  font-size: 20px;
}
/*=======================Contacter par courrier============================*/
/*======================================================================*/
@media only screen and (max-width: 775px) {
  #send-email{
      display: flex !important;
      flex-direction: column !important;
  }
  ._par_courriel input,  ._par_courriel textarea {
    max-width: 500px;
    min-width: 500px;
    width: 500px;
  }
}
@media only screen and (max-width: 665px) {
  ._par_courriel input , ._par_courriel textarea {
    max-width: 420px;
    min-width: 420px;
    width: 420px;
  }  
}

@media only screen and (max-width: 590px) {
  ._par_courriel input, ._par_courriel textarea {
     width: 400px;
     max-width: 400px;
     min-width: 400px;
   }
 }
@media only screen and (max-width: 575px) {
 ._par_courriel input, ._par_courriel textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}