body{
    background-color: rgb(231, 229, 229); 
  }

  .retour a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.retour{
    width: auto;
    position: fixed;
    z-index:99999;
    height: 50px;
    padding: 10px;
    margin: 20px;
}
._logo strong{
    font-size: 50px;
}
._logo a{
    text-decoration: none;
    color: black;
}

/*========================================================================*/
@media(max-width : 790px) {
  .retour{
    display: none;
  }

}