  
body{
  background-color: rgb(231, 229, 229);
  text-align: center;

}
.reset-password{
  margin:auto ;
  margin-top: 5%;
  text-align: center;
  width: 30%;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  height: auto;
}
.reset-password h1{
    font-weight: bold;
}
._logo{
  width: auto; 
  padding: 5% 3%; 
  margin: 0px 12%;
}
._logo strong{
  font-size: 50px;
  
}
._logo a{
  text-decoration: none;
  color: black;
}
.reset-password input{
  margin-bottom:5% ;
}

.retour-connexion{
  font-size: 18px;
  font-weight: bold;

}
.btn-validate{
  height: auto;
  background-color: rgb(243, 154, 38);
  margin-top: 1.5%;
  width: 100%;
  margin-bottom: 10px;
}
::placeholder {
  font-size: 1.5em;
}
.password-reste-input{
  height: 50px;
}
@media only screen and (max-width: 1607px) {
  .reset-password{
    width: 500px;
  }
  
}
@media only screen and (max-width: 600px) {
 
  .reset-password{
    width: 300px;
  }
  ._logo{
     margin: 10px;
      
    }
    ._logo strong{
      font-size: 40px;
      
    }
  
}