.firstd {
    margin-right: -100px;
}

@media screen and (max-width: 1400px) {
    .firstd {
        margin-right: -50px;
    }
}

@media screen and (max-width: 1200px) {
    .firstd {
        margin-right: -20px;
    }
}

@media screen and (max-width: 1060px) {
    .firstd {
        margin-right: -10px;
    }
}


@media screen and (max-width: 1000px) {
    .firstdo,
    .firstd {
        margin-top: -190px;
    }
    .firstd {
        margin-right: 0px;
    }
    .articles {
        flex-direction: column;
    }
    .articles .cardi {
        width: 500px;
        height: auto;
    }
}
@media screen and (max-width: 770px) {
    .firstdo
     {
        margin-top: -560px;
        margin-left: 20%;
    }
    
}
@media screen and (max-width: 650px) {
     .articles .cardi
     {
        margin-left: 20%;
        width: 50%;
    }
    
}
.articles a{
    color: black;
}
.articles a:hover {
    color: black;
    text-decoration: none;
}
.cardi {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    border: none;
    background-color: #dfdfdf;
}

.foot_article {
    padding: 5px;
    text-align: center;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-add {
    background-color: rgb(243, 154, 38);
    height: 50px;
    width: 100%;/* top | right | bottom | left *//* vertical | horizontal */
    padding: 0px 10px 50px 20px ;
}

.btn-add strong,
.btn-add i , .btn-add .fa-heart, .btn-add nav{
    font-size: 25px;
}

.btn-add .fa-heart {
    color: rgb(255, 95, 95);
}


.sticky {
    display: none;
}
.resize_div{
    margin-left: 300px;
}
