
{% block body %}  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/emailResetStyle.css') }}" />
   
    <div class="email-reset-password">
        {% include 'flashes.html.twig' %}
        <div  class="text-center _logo shadow p-4 ">
            <strong>
                <a href="{{ path("home") }}" > 
                    <span style="color: #ff4d00;">O</span><span style="color: #ff6f00;">n</span><span style="color: #f27d00;">l</span><span style="color: #fa6e02;">i</span><span style="color: #ff8400;">n</span><span style="color: #f5a00c;">e</span><span>S</span><span>h</span><span>o</span><span>p</span>
                </a>
            </strong>
        </div>
        <h3> <strong> Mot de passe oublié ? </strong> </h3>
        <h4>Saisissez l'adresse mail associée à votre compte <strong>OnlineShop</strong>.Nous allons envoyer à cette adresse un lien vous permettant de réinitialiser facilement votre mot de passe.</h4>
        {{ form(emailForm) }}
        <a href="{{ path("app_login") }}" class=" retour-connexion">Retour à la connexion</a>
        
    </div>

{% endblock %}