{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
    <input type="password" name="password" required>
    <input type="password" name="confirmPassword" required>
    <input type="hidden" name="token" value="{{ token }}">
    <button class="btn btn-lg btn-primary" type="submit">Valider</button>
</form>

{% endblock %}

