{% block body %}  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/resetPasswordStyle.css') }}" />
   
<div class="reset-password">

    <form method="post">
        <div  class="text-center _logo shadow p-4 ">
            <strong>
                <a href="{{ path("home") }}" > 
                    <span style="color: #ff4d00;">O</span><span style="color: #ff6f00;">n</span><span style="color: #f27d00;">l</span><span style="color: #fa6e02;">i</span><span style="color: #ff8400;">n</span><span style="color: #f5a00c;">e</span><span>S</span><span>h</span><span>o</span><span>p</span>
                </a>
            </strong>
        </div>
        <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
        <h5>Nous vous demanderons ce mot de passe pour passer une commande et accéder à votre compte.</h5>
        <input type="password" class="form-control password-reste-input" name="password" placeholder="Nouveau mot de passe....." required>
        <input type="password" class="form-control password-reste-input" name="confirmPassword"  placeholder="Confirmez le mot de passe....." required>
        <input type="hidden" name="token" value="{{ token }}">
        <button class="btn btn-lg btn-validate" type="submit">Valider</button><br>
        <a href="{{ path("app_login") }}" class="retour-connexion">Retour à la connexion</a>
            
    </form>
</div>

{% endblock %}


