<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}HT && OS online shop{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
<<<<<<< HEAD
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel='stylesheet' media='screen and (min-width: 701px) and (max-width: 900px)' href='css/medium.css' />
||||||| e858958
        <link rel='stylesheet' media='screen and (min-width: 701px) and (max-width: 900px)' href='css/medium.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
=======
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
>>>>>>> 060a0665927208b1733cbdb9280f7064b7c41244
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<<<<<<< HEAD
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
||||||| e858958

=======
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
>>>>>>> 060a0665927208b1733cbdb9280f7064b7c41244
        {% block stylesheets %} 
<<<<<<< HEAD
            <style>
                html, body {
                    overflow-x: hidden;
                }
            </style>
||||||| e858958
        <style>
            html, body {
                overflow-x: hidden;
            }
        </style>
=======
        <style>
            html, body {
                overflow-x: hidden;
            }

            ._btn-onlineshop {
                border: 2px solid #ff8400;
                background-color: #ff8400; 
                color: white; 
            }

            ._btn-onlineshop:hover {
                border: 2px solid #f27d00;
                background-color: #f27d00;
                color: white;
            }

            ._btn-outline-onlineshop {
                border: 2px solid #ff8400;
                color: #ff4d00;
            }

            ._btn-outline-onlineshop:hover {
                background-color: #ff8400;
                color: white;
            }
        </style>
>>>>>>> 060a0665927208b1733cbdb9280f7064b7c41244
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include 'flashes.html.twig' %}
        {# {% include 'home/footer.html.twig' %} #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<<<<<<< HEAD
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
||||||| e858958
=======
        <script src="js/home.js"></script>
>>>>>>> 060a0665927208b1733cbdb9280f7064b7c41244
    </body>
 </html>
